<div class = "container-fluid user_entry">
    <h2>Sign Up</h2>
    <br>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class = "input"><%= f.label :username %>
      <%= f.text_field :username %></div>

      <div class = "input"><%= f.label :name %>
      <%= f.text_field :name %></div>

      <div class = "input"><%= f.label :gender %>
      <%= f.text_field :gender %></div>

      <div class = "input"><%= f.label :age %>
      <%= f.number_field :age %></div>

      <div class = "input"><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>

      <div class = "input"><%= f.label :password %>
      <%= f.password_field :password %></div>

      <div class = "input"><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Let's Go!" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>
