<div class = "container-fluid user_profile">
  <h1><%= @user.username %></h1>
  <h4>Photos you like:</h4>
<% current_user.likes.each do |like| %>
  <div class ="tile">
    <ul class = "tile-image">
      <%= image_tag like.image_path %>
      <%= form_tag('/users/remove', method: 'post') do %>
          <%= hidden_field_tag(:likes, like.id) %>
            <%= button_tag :type => 'submit' do %>
              <% end %>
        <% end %>
    </ul>
  </div>
<% end %>

</div>
