<div class = "container-fluid">
  <ul class = "tile">
    <h2 class = "pictures">Pictures tagged:</h2>
    <h3 class = "pictures_3">#<%=params[:tag]%></h3>
  <%= form_for @like, :url => add_to_profile_path do |f| %>
    <% @searched.each do |photo| %>
      <%= image_tag photo.images.low_resolution.url %>
      <%= check_box_tag "current_user[like_ids][]", photo.images.standard_resolution.url%>
    <% end %>
    <%= f.submit "Like" %>
  <% end %>

  </ul>
</div>
